//#region DESKTOP
.layout-container {
  min-height: 85vh;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  margin-top: 5vh;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container-header {
  display: flex;
  align-items: center;
  height: auto;
  width: 15vw;
}

.navlink {
  padding: 1.5rem;
  font-size: 24px;
}
/************************/

/* Main */
.content-wrapper {
  width: 100%;
  min-height: 120vh;
  margin: 7vh 0 7vh 0;
}
/************************/

/* Footer */
.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: black;
  padding: 2rem;
  p {
    font-size: 24px;
    color: #f6f6f6;
    padding: 0;
    margin: 1rem 0 0 0;
  }
}

.logo-container-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  height: fit-content;
  width: 7vw;
}
/************************/

/* 404 Page */
.error-404 {
  text-align: center;
  font-size: 288px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-weight: 500;
}

.back-to-home-404 {
  font-size: 18px;
  margin-top: 20vh;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}
/************************/

/* HomePage */
.image-banner {
  position: relative;
  width: 100%;
  height: 14em;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-banner .overlay {
  background-color: black;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-banner h2 {
  opacity: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 48px;
  font-weight: 500;
  z-index: 2;
}

.cards-container {
  margin-top: 3em;
  width: auto;
  height: auto;
  border-radius: 25px;
  background: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
}

.card-wrapper {
  width: 33.33%;
  height: auto;
}

.card {
  position: relative;
  width: auto;
  height: 40vh;
  background-color: aqua;
  margin: 1.5em;
  background: #ff6060;
  border-radius: 25px;
  overflow: hidden;
}

.card .overlay {
  border-radius: 10px;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card img {
  height: 70%;
}
.card .content {
  position: relative;
  padding: 10px;
  margin: 0;
  color: #f7f7f7;
}

.content p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
/************************/

/* Accomodation Page */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25rem;
  border-radius: 25px;

  .inner {
    width: auto;
    height: 100%;
    display: inline-flex;
    transition: all ease-in-out 0.25s;
    .item {
      width: 80vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .next {
    margin-right: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    top: 0;
    right: 0;
    button {
      transition: all ease-in-out 0.25s;
      &:focus-visible {
        outline: none;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        border-color: transparent;
        transform: scale(1.05);
      }
    }
    .btn-next {
      font-size: x-large;
      z-index: 2;
      width: auto;
      height: 10vh;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #00000000;
      background-image: url("../assets/Vector-1.svg");
    }
  }
  .prev {
    margin-left: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    top: 0;
    left: 0;
    button {
      transition: all ease-in-out 0.25s;
      &:focus-visible {
        outline: none;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        border-color: transparent;
        transform: scale(1.05);
      }
    }
    .btn-prev {
      font-size: x-large;
      z-index: 2;
      width: auto;
      height: 10vh;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #00000000;
      background-image: url("../assets/Vector.svg");
    }
  }
}

.accomodation-header {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  .block1 {
    width: 50%;
    h1 {
      font-weight: 500;
      font-size: 30px;
      margin: 0;
    }
    p {
      margin: 0.25rem 0 1rem 0;
    }
    .tag-container {
      display: flex;
      flex-wrap: wrap;
    }
    .tag {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 14px;
      color: white;
      padding: 0.05rem 1.5rem 0.05rem 1.5rem;
      border-radius: 10px;
      min-width: 8rem;
      width: fit-content;
      background-color: #ff6060;
      text-align: center;
    }
  }
  .block2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .host-block {
      display: flex;
      p {
        font-size: 18px;
        padding: 1rem;
        max-width: 8rem;
        margin: auto;
        overflow-wrap: break-word;
      }
      .host-picture {
        width: 65px;
        height: 65px;
        border-radius: 9999px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .host-and-rate {
        width: fit-content;
      }
    }

    .star-container {
      margin-top: 1rem;
      position: inline;
      display: flex;
      width: 10rem;
      justify-content: space-between;
      margin-left: auto;
      .colorful-start {
        width: 1.5rem;
        height: 1.5rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #00000000;
        background-image: url("../assets/colorfulStar.svg");
      }
      .gray-star {
        width: 1.5rem;
        height: 1.5rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #00000000;
        background-image: url("../assets/grayStar.svg");
      }
    }
  }
}

.accomodation-accordeon {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

details {
  width: 100%;
  .content {
    transform: translateY(-0.5rem);
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 5px;
    background-color: #f6f6f6;
  }
  summary {
    font-size: 18px;
    position: relative;
    z-index: 2;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    color: white;
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
      padding: 0;
    }
    div {
      width: 20px;
      height: 20px;
      background-image: url("../assets/Vector-1.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotate(90deg);
    }
  }
}
details[open] {
  summary {
    div {
      transform: rotate(270deg);
    }
  }
}
/************************/

/* About Page */
.about-accordeon {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 2rem;
}
/************************/
//#endregion DESKTOP

//#region MOBILE
@media (max-width: 425px) {
  /* Layout */
  .layout-container {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  /* Header */
  .logo-container-header {
    width: 30vw;
  }
  .navlink {
    padding: 1rem;
    font-size: 12px;
  }
  /* Footer */
  .footer {
    p {
      margin-top: 0.5rem;
      font-size: 12px;
    }
  }
  .logo-container-footer {
    width: 20vw;
  }
  /* 404 */
  .error-404 {
    font-size: 128px;
    margin-bottom: 0;
  }

  .back-to-home-404 {
    font-size: 14px;
  }
  /* Accomodation Page */

  .accomodation-header {
    flex-direction: column; //
    width: 100%;
    .block1 {
      width: 100%; //
      h1 {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
      }
      p {
        font-size: 14px;
        margin: 0.5rem 0 1rem 0;
      }
      .tag {
        margin-right: 1rem;
        margin-bottom: 0.25rem;
        font-size: 10px;
        padding: 0rem 1rem 0rem 1rem;
        min-width: 6rem;
        border-radius: 5px;
      }
    }
    .block2 {
      width: 100%; //
      .host-and-rate {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
      .host-block {
        align-items: center;
        p {
          font-size: 12px;
          padding: 0.75rem;
          max-width: 6rem;
        }
        .host-picture {
          width: 45px;
          height: 45px;
        }
      }

      .star-container {
        margin: 0;
        align-items: center;
        width: 6rem;
        .colorful-start {
          width: 1rem;
          height: 1rem;
        }
        .gray-star {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .accomodation-accordeon {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  details {
    summary {
      font-size: 13px;
    }
    .content {
      font-size: 12px;
    }
  }

  /* Home Page */
  .image-banner {
    height: 8em;
    justify-content: flex-start;
    border-radius: 10px;
  }

  .image-banner .overlay {
    border-radius: 10px;
  }

  .image-banner h2 {
    padding-left: 1.5rem;
    font-size: 24px;
    max-width: 52vw;
  }

  .cards-container {
    margin-top: 1.5em;
    background: #00000000;
    display: block;
    padding: 0em;
  }
  .card {
    width: auto;
    height: 250px;
    margin: 0 0 1rem 0;
    border-radius: 10px;
  }

  .card .content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 25%;
    padding: 0;
  }

  .content p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  /* About Page */
  .about-accordeon {
    padding: 2rem 0 0 0;
  }
}
//#endregion MOBILE
